<app-header></app-header>
<div class="principal-container">

    <div class="slider" id="inicio">

        <swiper [config]="config" style="max-height: 100%;display: contents;">
            <div class="swiper-wrapper">
                <div class="img-content swiper-slide" *ngFor="let image of images"  >
                    <img class="img" [src]="image.src" />
                </div>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>

    </div>

    <div class="local-container" id="local">
        <div class="header">
            <h3 class="title">LOCAL DO EVENTO</h3>
            <div class="divider divider-default"></div>
        </div>
        <div class="body">
            <div class="local-info col-4">
                <div class="info-content">
                    <mat-icon class="custom-icon"  [svgIcon]="'map'" style="width: 100px; height: 100px;">
                    </mat-icon>
                    <div class="info">
                        <h4>São Miguel do Oeste - SC</h4>
                        <h4>R. Oiapoc, 211 - Agostini</h4>
                    </div>
                </div>
                <div class="info-content">
                    <mat-icon class="custom-icon" [svgIcon]="'student-hat'" style="width: 100px; height: 100px">
                    </mat-icon>
                    <div class="info">
                        <h4 class="">Unoesc São Miguel do Oeste</h4>
                    </div>
                </div>
                <div class="info-content">
                <mat-icon class="custom-icon" [svgIcon]="'phone'" style="width: 100px; height: 100px">
                </mat-icon>
                <div class="info">
                    <h4 class="">49 3631.1065 I 3631.1064</h4>
                </div>
            </div>
                <div class="info-content">
                    <mat-icon class="custom-icon" [svgIcon]="'email'" style="width: 100px; height: 100px">
                    </mat-icon>
                    <div class="info">
                        <h4 class="">marketing.smo@unoesc.edu.br</h4>
                    </div>
                </div>
            </div>
            <div class="google-map-content col-8">

                <iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=UNOESC%20Campus%20S%C3%A3o%20Miguel%20do%20Oeste&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                </iframe>

            </div>
        </div>
    </div>

    <div class="horario-container" id="horarios">
        <div class="header absolute-header">
            <h3 class="title">HORÁRIOS DO EVENTO</h3>
            <div class="divider divider-default"></div>
        </div>

        <div class="horarios-content">

            <div class="horario-content">
                <mat-icon class="custom-icon"  [svgIcon]="'clock'" style="width: 100px; height: 100px;">
                </mat-icon>
                <h4 class="text">Dia 26/09: das 8h30 às 16h e das 19h às 22h</h4>
            </div>

            <div class="horario-content">
                <mat-icon class="custom-icon"  [svgIcon]="'clock'" style="width: 100px; height: 100px;">
                </mat-icon>
                <h4 class="text">Dia 27/09: das 8h30 às 16h</h4>
            </div>

        </div>

    </div>

    <div class="more-info-container" id="info">
        <div class="header absolute-header">
            <h3 class="title">MAIS INFORMAÇÕES</h3>
            <div class="divider divider-default"></div>
        </div>
        <div class="more-info-content">

            <div class="col-6">
                <h2 class="title">Programação</h2>
                <div class="text" [innerHTML]="programacao">
                </div>
            </div>

            <div class="col-6">
                <div class="text">
                    <img class="img" src="assets/images/FEIRA_DAS_PROFISSOES_UNOESC_SMO_0819.jpg" alt="">
                </div>
            </div>

        </div>

    </div>



</div>
