<div class="header-container">
    <div class="header-content">
        <div class="actions-container">
            <a [href]="'#inicio'" class="item">
                <div class="item-content active">
                    inicio
                </div>
            </a>
            <a  [href]="'#local'" class="item">
                <div class="item-content">
                    local
                </div>
            </a>
            <a [href]="'#horarios'" class="item">
                <div  class="item-content">
                    horários
                </div>
            </a>
            <a [href]="'#info'" class="item">
                <div  class="item-content">
                    mais informações
                </div>
            </a>
            <a [href]="'#eventos'" class="item">
                <div class="item-content">
                    eventos anteriores
                </div>
            </a>

        </div>
    </div>
</div>
