<div class="header-container">
  <div class="header-content">
    <div class="actions-container">
      <div class="item">
        <div class="item-content active">
          inicio
        </div>
      </div>
      <div class="item">
        <div class="item-content">
          local
        </div>
      </div>
      <div class="item">
        <div class="item-content">
          horários
        </div>
      </div>
      <div class="item">
        <div class="item-content">
          eventos anteriores
        </div>
      </div>
    </div>
  </div>
</div>
